@charset "UTF-8";
/* CSS Document */






/*THESE ARE MY [RESPONSIVE PHONE STYLES] THAT ARE USED [SITE WIDE] THE DOCUMENT*/


@media (max-width: 580px){
    

    
    
    #gold_ring{
        width: 125px;
        height: 125px;
        position: absolute;
        top: 36em;
    }
    
    .validator_links{
        width: 25%;
        height: auto;
        
    }
    
    .editable_region{
        width: 50%;
        height: auto;
        margin: 0;
    }
    
    
    .education{
        width: 90%;
        height: auto;
        float: left;
        clear: both;
        margin-top: 10em;
        margin-left: -4em;
        margin-bottom: 13em;
        
    
    }
    
    .education p{
        width: 100%;
        height: auto;
        margin-top: 3em;
        font-size: 130%;
        font-family: serif;
        
        
    }
    
    .education h1{
        margin-left: 1.5em;
    }
    .education h2{
        margin-left: 1.8em;
    }
    .content_wrap{
        width: 98%;
        height: auto;
        float: left;
        clear: both;
        
    }
    .content_wrap p {
            display: none;
    }
    .z_box{
        width: 99%;
        height: 10em;
        background-image: url(images/ui_ux_design.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    
.g_box{
    width: 50%;
    height: auto;
    margin-left: -1em;
    margin: 30px;
    margin-left: 30px;
    float: left;
    clear: none;
    padding-bottom: 200px;
    margin-bottom: 200px;

}
    
    
    .blank_margin{
        width: 100%;
        height: 2em;
        float: left;
        clear: both;
        margin-bottom: 4em;
    }
    
    
    .form_wrap{
        width: 50%;
        height: auto;
        float: left;
        clear: both;
        margin-left: -30em;
        padding-left: 0;
    }
    
    
    
    
    
    .form_margin{
        margin-left: -20em;
        width: 50%;
        height: 50%;
    }
    
    